appdirs==1.4.4
certifi==2020.12.5
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
packaging @ file:///private/tmp/sip--packaging-20210512-90681-8wfnbg/packaging-20.9
pipenv==2020.11.15
protobuf==3.17.1
pyparsing==2.4.7
PyQt6==6.1.0
PyQt6-3D==6.1.0
PyQt6-Charts==6.1.0
PyQt6-DataVisualization==6.1.0
PyQt6-NetworkAuth==6.1.0
PyQt6-sip==13.1.0
pyserial==3.5
sip==6.1.0
TBB==0.2
toml==0.10.2
virtualenv==20.4.2
virtualenv-clone==0.5.4
websockets==8.1
Werkzeug==1.0.1
